<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="n1">
		<select v-model="sym">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<input type="text" v-model="n2">
		<input type="button" value="=" @click="calc">
		<input type="text" v-model="result">
	</div>
	
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				n1: "0",
				sym: "+",
				n2: "0",
				result: "0"
			},
			methods: {
				calc() {
					switch(this.sym){
						case "+":
						this.result = parseInt(this.n1)+parseInt(this.n2);
						break;
						case "-":
						this.result = parseInt(this.n1)-parseInt(this.n2);
						break;
						case "*":
						this.result = parseInt(this.n1)*parseInt(this.n2);
						break;
						case "/":
						this.result = parseInt(this.n1)/parseInt(this.n2);
						break;
					}

					//投机取巧的方式，在正式开发中不提倡使用，在必须时可以使用
					/*
					var str = parseInt(this.n1)+this.sym+parseInt(this.n2);
					this.result = eval(str);*/
				}
			}
		});
	</script>
</body>
</html>