<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>品牌案例</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title">品牌</h3>
			</div>
			<div class="panel-body form-inline">
			    <label>Id: 
			    	<input type="text" class="form-control" v-model="id">
			    </label>

			    <label>Name: 
			    	<input type="text" class="form-control" v-model="name" @keyup.enter="add">
			    </label>

			    <!-- v-on:(@)事件绑定 的值可以加括号，加了括号就可以传参数-->
			    <input type="button" value="添加" class="btn btn-primary" @click="add">

			    <label>搜索关键词：
			    	<input type="text" class="form-control" v-model="keywords" v-focus v-color="'red'">
			    </label>
			</div>
		</div>		

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Time</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in search(keywords)" :key="item.id">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.ctime | changeTime() }}</td>
					<td>
						<a href="" @click.prevent="del(item.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

		<div id="app2">
			<p v-font-size="'100px'" v-font-weight=200 v-color="'pink'">{{ strDate | changeTime }}</p>
		</div>
	<script>
		//全局过滤器
		Vue.filter('changeTime',function(strDate,msg=""){
			var newDate = new Date(strDate);
			var y = newDate.getFullYear();
			var m = (newDate.getMonth()+1).toString().padStart(2,"0");
			var d = newDate.getDate().toString().padStart(2, "0");
			if(msg.toLowerCase()=="yyyy-mm-dd"){
			//return y+'-'+m+'-'+d;

			//return `$(y)-$(m)-$(d)`;  这里使用模板字符串时，占位符应该使用${};
			return `${y}-${m}-${d}`;
		}else{
			var h = newDate.getHours().toString().padStart(2, "0");
			var f = newDate.getMinutes().toString().padStart(2, "0");
			var s = newDate.getSeconds().toString().padStart(2, "0");
			return `${y}-${m}-${d} ${h}:${f}:${s}`;
		}
			
		});

		//自定义全局按键修饰符
		Vue.config.keyCodes.f2 = 113;

		// 自定义全局指令
		Vue.directive("focus", {
			bind: function(){ 
			    //当指令绑定到元素上时执行的方法【只触发一次】
				//注意：在每个函数中，第一个参数永远是el， 表示 被绑定的指令的那个元素，这个el参数，是一个原生的js对象
				//使用DOM操作调用.focus(); 方法。代码如下
				//document.getElementById("one").focus();

				//因为 一个元素，只有在插入DOM之后才能获取焦点 所以在bind中使用 el.focus会失效

			},
			inserted: function(el){ //当DOM元素插入到页面中时执行的方法【只触发一次】
				//ctrl+右键 自动缩进到输入代码的位置
				el.focus();//方法
				//和JS行为有关的操作，最好在inserted中去执行，防止JS行为不生效

			},
			update: function(){ //当vnode更新的时候执行的方法【有可能执行多次】

			}
		});

		//自定义 一个设置字体颜色的 局部指令
		/*Vue.directive("color",{
			bind: function(el, binding){
				//和样式相关的操作，一般可以在bind中执行。
				el.style.color = binding.value;
				console.log(binding.name);
			},
		});*/
		
		
        Vue.directive('color',{
			bind(el, binding){
					el.style.color = binding.value;
				}
			});
		Vue.directive('font-weight',{
			bind(el, binding2){
				el.style.fontWeight = binding2.value;
			}
		})

		var vm = new Vue({
			el: "#app",
			data: {
				id: '',
				name: '',
				keywords: '',
				list: [{
					id: 1,
					name: "宝马",
					ctime: new Date()
				},{
					id: 2,
					name: "奔驰",
					ctime: new Date()
				}]
			},
			methods: {
				add(){
					//console.log('hi');
					var car = {id: this.id, name: this.name, ctime: new Date()};
					this.list.push(car);
				},//methods中的方法之间也要加逗号
				del(id){
					/*this.list.some((item,index)=>{
						if(item.id==id){
							this.list.splice(index,1);
							return true;
							//数组的some方法在解析到true时，立刻停止执行
						}
					});*/
					var index= this.list.findIndex((item)=>{
						if(item.id==id) return true;
					});
					console.log(index);
					this.list.splice(index,1);
				},
				search(keywords){
					/*var newList = [];
					this.list.forEach((item)=>{
						
						if(item.name.indexOf(keywords) != -1) {
							newList.push(item);
						}
						
					});
					return newList;*/

					//es6新方法 includes，filter，some，findIndex
					return this.list.filter((item)=>{
						if(item.name.includes(keywords)){
							return item;
						}
					});
				}
			}
		});

		var vm2 = new Vue({
			el: "#app2",
			data: {
				strDate: new Date()
			},
			methods: {

			},
			filters: {
				//调用过滤器的时候，如果私有过滤器和全局过滤器的名称相同，则遵循先私有后全局的就近调用原则
				changeTime(strDate,msg=""){
					var newDate = new Date(strDate);
					var y = newDate.getFullYear().toString().padStart(2, "0");
					var m = (newDate.getMonth()+1).toString().padStart(2, "0");
					var d = newDate.getDate().toString().padStart(2, "0");
					if(msg.toLowerCase()=="yyyy-mm-dd"){
					//return y+'-'+m+'-'+d;

					//return `$(y)-$(m)-$(d)`;  这里使用模板字符串时，占位符应该使用${};
					return `${y}-${m}-${d}`;
				}else{
					var h = newDate.getHours().toString().padStart(2, "0");
					var f = newDate.getMinutes().toString().padStart(2, "0");
					var s = newDate.getSeconds().toString().padStart(2, "0");
					return `${y}-${m}-${d} ${h}:${f}:${s}++++++++`;
				}
				}
			},
			directives: {
				'font-weight': {
					bind(el, binding2){
						el.style.fontWeight = binding2.value;
					}
				},
				'font-size': function(el, binding){
				//注意 这个function等同于把代码写到了bind和 update中去
				//可以写为'font-size'(){}
					el.style.fontSize = parseInt(binding.value)+"px";
				}
			}
		});
	</script>
</body>
</html>