li {
	line-height: 30px;
	font-size: 25px;
}
.box {
    height: 200px;
    width: 200px;
	background: url('../images/a0.jpg');
	background-size: cover;
}

.box2 {
    height: 200px;
    width: 200px;
	background: url('../images2/a0.jpg');
	background-size: cover;
}